@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #e0e0e0;
  min-height: 100vh;
}

.App {
  padding-top: 1em;
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1em;
}

.title {
  text-align: center;
}

.main-container {
  margin-top: 1em;
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.controls {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.controls label {
  display: flex;
  padding: 0.5em;
}

.preview {
  width: 50%;
}

.box {
  width: 200px;
  height: 200px;
  background-color: antiquewhite;
  margin: 0 auto;
}

.copy-container {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 1em;
}

.copy-btn {
  border: none;
  height: 50px;
  background: #fff;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  border-left: 1px solid #1f1f1f;
  border-radius: 0 2em 2em 0;
}

.code {
  display: grid;
  place-content: center;
  padding: 1em;
  background-color: #fff;
  height: 50px;
  border-radius: 2em 0 0 2em;
}
